.App {
  text-align: center;
  background-color: black;
}

.container-fluid {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  position: fixed;
  margin: auto;
  background-color: rgb(199, 199, 199);
  padding: 60px;
  justify-content: center;
  overflow-y: scroll;
}
